@using Airline.Business.ViewModel;
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
@model DetailVM

<section class="banner-section inner-banner-section bg-overlay-black bg_img"
         data-background="assets/images/bg/inner-bg.png">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-12 text-center">
                <div class="banner-content">
                    <h1 class="title">About Our Employee</h1>
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a >Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Team Single</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <i class="las la-dot-circle"></i>
    <span>Top</span>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Call-widget
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Call-widget
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Team
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="team-section team--style team-details ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="team-item" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="team-thumb">
                        <img src="~/Upload/Team/@Model.team.ImgUrl" alt="team">
                    </div>
                    <div class="team-content-area">
                        <div class="team-content">
                            <h3 class="title">@Model.team.Fullname</h3>
                            <span class="sub-title">@Model.team.Position</span>
                            <p>
                                @Model.team.Description
                            </p>
                            <ul class="team-contact-list">
                                <li><i class="fas fa-phone-alt"></i> @Model.team.number</li>
                                <li><i class="fas fa-envelope"></i> @Model.team.email</li>
                            </ul>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-widget-area" data-aos="fade-up" data-aos-duration="1200">
            <div class="team-widget-content">
                <h3 class="title">About Me</h3>
                <p>
                  @Model.team.AboutMe
                </p>
            </div>
            <div class="team-widget-content">
                <h3 class="title">Experience & Skill</h3>
                <p>
                    @Model.team.Experience
                </p>
               
            </div>
            <div class="team-widget-content">
                <h3 class="title">Qualification & Experience</h3>
                <p>
                    Our technology consistently delivers the best pricing for charters – and the unique ability
                    to buy individual seats. Search the world with ease and transparency.As the only
                    tech-forward private aviation company, XO is able to bring you innovative ways to buy and
                    fly. Charter an entire jet, or offer the seats you don’t need through our app. Either way,
                    there’s no longer a need for full or even fractional jet ownership – or rigid,
                    non-refundable jet cards.
                </p>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Team
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
