@using Airline.Core.Entities;
@model List<Team>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Package table</h6>
                    </div>
                    <a class="btn btn-primary" asp-controller="Team" asp-action="Create" style="margin-top:20px">Create</a>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-secondary opacity-7">Fullname</th>
                                    <th class="text-secondary opacity-7">Position</th>
                                    <th class="text-secondary opacity-7">Description</th>
                                    <th class="text-secondary opacity-7">About</th>
                                    <th class="text-secondary opacity-7">Number</th>
                                    <th class="text-secondary opacity-7">Email</th>
                                    <th class="text-secondary opacity-7">Experience</th>
                                    <th class="text-secondary opacity-7">Image</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.Fullname</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.Description</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.AboutMe</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.Position</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.number</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.email</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.Experience</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="width:100px">
                                                <img width="100%" src="~/Upload/Team/@item.ImgUrl">
                                            </div>
                                        </td>

                                        <td>
                                            <a class="btn btn-warning" asp-controller="Team" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                            <a class="btn btn-danger " asp-controller="Team" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>