@using Airline.Business.ViewModel;
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

@model HomeVM
<section class="banner-section">
    <div class="banner-element" data-aos="fade-left" data-aos-duration="1200">
        <img src="~/assets/images/element/element-1.png" alt="element">
    </div>
    <div class="banner-element-two">
        <img src="~/assets/images/element/element-3.png" alt="element">
    </div>
    <div class="banner-element-three">
        <img src="~/assets/images/element/element-4.png" alt="element">
    </div>
    <div class="banner-element-four">
        <img src="~/assets/images/element/element-5.png" alt="element">
    </div>
    <div class="banner-social-area">
        <ul class="banner-social">
            <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
            <li><a href="www.instag"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center mb-30-none">
            <div class="col-xxl-5 col-xl-6 col-lg-12 mb-30">
                <div class="banner-content" data-aos="fade-right" data-aos-duration="1800">
                    @foreach (var item in Model.settings)
                    {
                        <li><a> @item.Value</a></li>
                    }
                    <h1 class="title">Book your a Plane Ticket </h1>
                    <h3 class="title"> Next, You can fly our Member</h3>
                    <p>
                        Welcome to Airline website. We pride ourselves on offering a professional service.
                       
                    </p>
                    
                </div>
            </div>
            <div class="col-xxl-7 col-xl-6 col-lg-6 mb-30">
                <div class="banner-thumb">
                    <img src="~/assets/images/element/element-2.png" alt="element">
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <i class="las la-dot-circle"></i>
    <span>Top</span>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Call-widget
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="call-widget-wrapper">
    <button type="button" class="call-widget-btn">
        <span class="num">
            <i class="icon-call-icon"></i> +994 77 677 89 98
        </span> 
    </button>
    
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Call-widget
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Overview

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Overview
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start About
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="about-section bg-overlay-base ptb-120 bg_img" data-background="~/assets/images/bg/bg-1.png">
    <div class="about-element">
        <img src="~/assets/images/element/element-8.png" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-7 col-lg-7 mb-30">
                <div class="about-content">
                    <span class="sub-title"><span>About</span> Flynext</span>
                    <h2 class="title">
                        Private Jet Charters save your
                        time and give more comfort
                    </h2>
                    <p>
                        Flynext is the only way to fully travel on your terms. Whether it’s accessing a remote
                        destination or taking back control of productivity and flight scheduling
                    </p>
                    <div class="about-book-area">
                        <div class="about-book-element">
                            <img src="~/assets/images/element/element-7.png" alt="element">
                        </div>
                        <div class="about-book-left">
                            <h3 class="call-title">Call for book an order</h3>
                            <span class="call"><a >+994 77 677 89 98</a></span>
                        </div>
                        <div class="about-book-right">
                           @*  <a href="service-details.html" class="btn--base">
                                <i class="icon-btn-icon-v2"></i>
                                Book Now
                            </a> *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 mb-30">
                <div class="about-thumb-video">
                    <div class="video-main">
                        <div class="promo-video">
                            <div class="waves-block">
                                <div class="waves wave-1"></div>
                                <div class="waves wave-2"></div>
                                <div class="waves wave-3"></div>
                            </div>
                        </div>
                        <a class="video-icon" data-rel="lightcase:myCollection"
                           href="https://www.youtube.com/embed/Hw4ctvV25H0">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End About
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Feature
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="feature-section page-wrapper-two ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 text-center">
                <div class="section-header">
                    <span class="sub-title">Discover <span>Flynext</span> Benefits</span>
                    <h2 class="section-title">Discover Private Jet Benefits</h2>
                </div>
            </div>
        </div>
            <div class="feature-area">
                <div class="row justify-content-center m-0">
        @foreach (var item in Model.benefits)
        {
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 p-0">
                        <div class="feature-item">
                            <div class="feature-icon">
                                @Html.Raw(item.Icon)
                            </div>
                            <div class="feature-content">
                                <h3 class="title">@item.Title</h3>
                                <p>
                                  @item.Description
                                </p>
                            </div>
                        </div>
                    </div>

        }
                </div>
            </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Feature
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Statistics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="statistics-section bg-overlay-black ptb-120 bg_img" data-background="~/assets/images/bg/bg-2.png">
    <div class="container">
        <div class="statistics-area">
            <div class="row mb-30-none">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                    <div class="statistics-item">
                        <div class="statistics-content">
                            <div class="odo-area">
                                <h3 class="odo-title odometer" data-odometer-final="@Model.teams.Count">0</h3>
                            </div>
                            <p>Professional Pilots</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                    <div class="statistics-item">
                        <div class="statistics-content">
                            <div class="odo-area">
                                <h3 class="odo-title odometer" data-odometer-final="@Model.deals.Count">0</h3>
                            </div>
                            <p>Jet Airplanes</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                    <div class="statistics-item">
                        <div class="statistics-content">
                            <div class="odo-area">
                                <h3 class="odo-title odometer" data-odometer-final="@Model.blogs.Count"></h3>
                            </div>
                            <p>Our Blogs</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-30">
                    <div class="statistics-item" data-aos="zoom-in" data-aos-duration="1200">
                        <div class="statistics-content">
                            <div class="odo-area">
                                <h3 class="odo-title odometer" data-odometer-final="@Model.packages.Count">0</h3>
                            </div>
                            <p>Our Packages</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Statistics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Charter
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="charter-section pt-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-header-wrapper">
                    <div class="section-header">
                        <span class="sub-title">Luxury Charters</span>
                        <h2 class="section-title">Luxury Deals For You</h2>
                    </div>
                    <div class="slider-nav-area" data-aos="fade-left" data-aos-duration="1200">
                        <div class="slider-prev">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="slider-next">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="charter-slider">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.deals)
                        {
                            <div class="swiper-slide">
                                <div class="charter-item">
                                    <div class="charter-thumb">
                                        <img src="~/Upload/Deal/@item.MainPhoto" alt="charter">
                                    </div>
                                    <div class="charter-content">
                                        <h3 class="title"><a asp-controller="Plane" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h3>
                                        <span class="sub-title">@item.Description</span>
                                        <div class="charter-meta">
                                            <span class="seat">@item.Range</span>
                                            <span class="price">Price: @item.Price </span>
                                        </div>
                                        <div class="charter-btn">
                                            <a>
                                                <i class="icon-btn-icon-v2"></i> 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Charter
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Book-form
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="book-form-section ptb-120" id="book-form-section">
    <div class="container">
        <div class="book-form-area bg-overlay-black bg_img" data-background="~/assets/images/bg/bg-3.png">
            <div class="row justify-content-center">
                <div class="col-xl-12 text-center">
                    <div class="section-header white">
                        <span class="sub-title text-white"><span>Flynext</span> Book</span>
                        <h2 class="section-title">Book A Personal Flight</h2>
                    </div>
                    <form class="book-form">
                        <div class="row justify-content-center mb-20-none">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 form-group">
                                <div class="book-select">
                                    <label>From</label>
                                    <div class="book-form-icon">
                                        <i class="icon-from-airplane"></i>
                                    </div>
                                    @{

                                    }
                                    <select id="flightSelect" class="book-select form--control" name="selectedFlight">
                                        @foreach (var item in Model.flights)
                                        {
                                            <option value="@item.Id">@item.From -->> @item.To || Date: @item.flightdate || @item.Price $</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            
                            <div class="col-xl-12 form-group">
                                <button id="bookNowButton" class="btn btn-warning"  >
                                    <i class="icon-btn-icon"></i> Book Now
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Book-form
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Package
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="package-section section--bg ptb-120">
    <div class="package-element-one" data-aos="fade-right" data-aos-duration="1200">
        <img src="~/assets/images/element/element-24.png" alt="element">
    </div>
    <div class="package-element-two" data-aos="fade-left" data-aos-duration="1200">
        <img src="~/assets/images/element/element-1.png" alt="element">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 text-center">
                <div class="section-header white">
                    <span class="sub-title text-white"><span>Flynext</span> Package</span>
                    <h2 class="section-title">Flynext Tour Packages</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="package-slider">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.packages)
                        {
                            <div class="swiper-slide">
                                <div class="package-item">
                                    <div class="package-thumb">
                                        <img src="~/Upload/Package/@item.ImgUrl" alt="package">
                                        
                                    </div>
                                    <div class="package-content">
                                        <div class="package-content-header">
                                            <h3 class="title">
                                                <a asp-controller="Tour" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
                                            </h3>
                                        </div>
                                        <div class="package-content-body">
                                            <ul class="package-list">
                                                <li>Date : @item.date</li>
                                                <li>Person : @item.Person</li>
                                            </ul>
                                            <div class="package-content-footer">
                                                <div class="package-btn">
                                                    <a asp-controller="Tour" asp-action="Detail" asp-route-id="@item.Id" class="custom-btn">
                                                        <i class="icon-btn-icon-v2 mr-2"></i>
                                                    </a>
                                                </div>
                                                <div class="package-video">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                       
                    </div>
                    <div class="slider-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="slider-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Package
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Brand
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="brand-section ptb-120">
    <div class="container">
        <div class="row justify-content-center mt-10-none mb-10-none">
            <div class="col-xl-12 text-center">
                <div class="brand-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="brand-item">
                                <img src="~/assets/images/brand/brand-1.png" alt="brand">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-item">
                                <img src="~/assets/images/brand/brand-2.png" alt="brand">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-item">
                                <img src="~/assets/images/brand/brand-3.png" alt="brand">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-item">
                                <img src="~/assets/images/brand/brand-4.png" alt="brand">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-item">
                                <img src="~/assets/images/brand/brand-5.png" alt="brand">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Brand
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Blog
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Blog
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<script>

    var btn = document.getElementById("bookNowButton")
    btn.addEventListener('click' , function(e){
        e.preventDefault();
        
      var selectflight = document.getElementById("flightSelect")
        window.location.href='/Ticket/Book?flightId='+selectflight.value
        
    })
    
</script>


